
body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  
  body::after {
    content: "";
    background: url("../img/burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  p {
      width: 500px;
      padding: 2px 0 15px 10px;
      margin: 10px;
  }

  .burger-add {

    width: 400px;
    
  }

  .devoured-burger {

    margin-bottom: 10px;
  }
    